<header class="col-12 bg-black py-3">
    <nav class="navbar text-white">
        <div class="container justify-content-center">
            <a class="nav-link text-white p-2" href="/home">Home</a>
            <a class="nav-link text-white p-2" href="/contatos">Contatos</a>
            <a class="nav-link text-white p-2" href="/logout">Sair</a>
            </div>
        </div>
    </nav>
</header>
